
.default-color0.chart-bar {
-fx-bar-fill: green;
}

.default-color1.chart-bar {
-fx-bar-fill: yellow;
}
.default-color2.chart-bar {
    -fx-bar-fill: rgb(37, 42, 55);
    }
    
.default-color3.chart-bar {
-fx-bar-fill: rgb(34, 215, 188);
}
.default-color4.chart-bar {
-fx-bar-fill: rgb(139, 124, 198);
}

.default-color5.chart-bar {
-fx-bar-fill: rgb(144, 9, 32);
}